// Place all the styles related to the MwsOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr { margin: 10px 0 10px 0; clear:both; width:99%; }
table { width: 99%; padding-top: 10px;}
table td.num { text-align: right; }
table tr.total { background: #EEEEEE; font-weight: bold; }
table th { background: #444444; color: #FFFFFF; }
div.block { background: #EEEEEE; border: 1px solid #CCCCCC; float: left; width: 48%; padding: 4px; margin: 4px; }
div.block > form { float: right; }
div.block h2 { padding: 0px; margin: 0px 0px 5px 0px; }
div.block p { margin: 0px 0px 5px 0px; }
